#page-auth {
    display: flex;
    align-items: stretch;
    height: 100vg;

    aside {
        flex: 7;
        background: #835afd;
        color: #FFF;

        display: flex;
        flex-direction: column;
        justify-content: center;

        padding: 120px 80px;
    }
    
    main {
        flex: 8;
    }
}